#h1{
text-align: center;
color: aliceblue;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-bottom: 10px;
 
}

#form{
    background-color: hsl(192, 86%, 62%);
    flex-direction: column;
    width: fit-content;
    height: 500px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 20px;
    display: flex;
}

.info{
 padding-left: 10px;
 padding-right: 10px;
 
}